<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='main.css')}}" rel="stylesheet" type="text/css" />
    <title>CS 340 Frontend</title>
</head>

<body>
    <h1>Hogwarts Library Database</h1>
    <nav>
        <a href="index">Home</a>
        <a href="books">Books</a>
        <a href="authors">Authors</a>
        <a href="members">Members</a>
        <a href="reservations">Reservations</a>
        <a href="books_authors">Authors and Books</a>
        <a href="statuses">Statuses</a>
    </nav>
    <main>
        <h2>About</h2>
        <section class="summary">
            <p>The Hogwarts Library Database was developed to manage book inventory 
                and facilitate transactions for library members.
                As the library predominantly relies on magic, a system accessible to muggles is essential. 
                This muggle-capable database will enable non-magical individuals to assist with checkouts and 
                other library operations. The system features a library member and author database, 
                a comprehensive book catalog, and an individuals' reservation details. 
                The system aims to ensure efficient library management and accessibility for all users, 
                regardless of magical abilities.</p>
                <p>Here's to easier muggle interactions! </p>
                <p>CS340 Group 45, Rimsha Ejaz & Joel Gilger</p>
        </section>
    </main>

</body>

</html>